
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet"  />
<!-- Bootstrap -->
<h1>Bienvenido {{ nombre }}</h1>
<div class="divvv" >
    <a class="cerrars"  href="{{ url_for('logout') }}">Logout</a>
    {% if nombre == "Administrador" %}
      <a class="reporte"  href="{{ url_for('modulo')}}">Reportes</a>
    {% endif %}
</div>
<div class="wrapper">
    <div id="search-container">
      <input
        type="search"
        id="search-input"
        placeholder="Busca el nombre del espacio ..."
      />
    </div>
    <div id="products"></div>
  </div>
  <!-- Script -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>