{% extends './base.html' %}
{% block title %}CountIt - Deus X{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block body %}
<section class = "header"> 
    <!--Agregar logo con link--> <!-- {{ url_for('static', filename='img/logo.png') }} -->
    <nav>
      <a href="/index"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
      <!--Se agregan los accesos directos a los componentes de la página, se le da un id para javascript al div-->
      <div class="nav-links" id="navLinks">
        <!--Agregar icono cerrar y agregar función de ocultar menú (js)-->
        <i class="fa fa-times" aria-hidden="true" onclick="hideMenu()"></i>
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/login">Iniciar Sesion</a></li>
            <li><a href="/register">Registrarse</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
      </div>
      <!--Agregar icono de menú y agregar función de mostrar menú (js)-->
      <i class="fa fa-bars" onclick="showMenu()"></i>

    </nav>
  <!--Se agrega el texto principal de la página-->
  <div class="text-box">
    <h1>Bienvenido a Proyect 0</h1>
    <p>Somos una plataforma que te informa la capacidad de los diferentes lugares de tu establciemiento</p>
    <a href="" class="hero-btn">Haz clic para conocernos</a>
  </div>
  </section>

  <!--Se agrega la sección de cursos-->

  <section class= "course">
    <h1>Beneficios que ofrecemos</h1>
    <p>Disponemos de una serie de servicios integrados para su acomodo.</p>
    <div class="row">
      <div class="course-col">
        <h3>Manejo del espacio</h3>
        <p>Proyect 0 convierte tus espacios en lugares estratégicos.</p>
      </div>
      <div class="course-col">
        <h3>Distribución espacial</h3>
        <p>Te garantizamos un flujo más distribuido de personas en tu estableciemiento.</p>
      </div>
      <div class="course-col">
        <h3>Datos en tiempo real</h3>
        <p>Con proyect 0 tendrás siempre datos reales y actualizados de tus espacios.</p>
      </div>
    </div>
  </section>

  <!--Se agrega la sección de campus-->
  <section class="campus">
    <h1>Nuestra Metodología</h1>
    <p>En Deus X Solutions tenemos en cuenta nuestros procesos para brindar el mejor servicio.</p>
    <div class="row">
      <div class="campus-col"> 
        <img src="{{ url_for('static', filename='img/observar.jpg') }}">
        <div class="layer">
          <h3>OBSERVAR</h3>
        </div>
      </div>
      <div class="campus-col">
        <img src="{{ url_for('static', filename='img/procesar.jpg') }}">
        <div class="layer">
          <h3>PROCESAR</h3>
        </div>
      </div>
      <div class="campus-col">
        <img src="{{ url_for('static', filename='img/recopilar.jpg') }}">
        <div class="layer">
          <h3>RECOPILAR</h3>
        </div>
      </div>
    </div>
  </section>

  <!--Se agrega la sección de facilities--> <!-- {{ url_for('static', filename='img/biblio.png') }} -->
  <section class="facilities">
    <h1>Nuestros servicios</h1>
    <p>Algunos de los servicios que ofrecemos como Empresa </p>
    <div class="row">
      <div class="facilities-col">
        <img src="{{ url_for('static', filename='img/arduino.jpg') }}">
        <h3>Instalación de dispositivo</h3>
        <p>La cantidad de dispositivos que desea en los espacios escogidos por el usuario.</p>
      </div>
      <div class="facilities-col">
        <img src="{{ url_for('static', filename='img/biblioteca.jpg') }}">
        <h3>Revisión constante</h3>
        <p>Mantenimiento de la aplicacion y revision constante para asegurar la mayor calidad y la mayor certeza sobre nuestros datos.</p>
      </div>
      <div class="facilities-col">
        <img src="{{ url_for('static', filename='img/estadistica.jpg') }}">
        <h3>Datos en tiempo real</h3>
        <p>Generamos cantidades de datos sobre los espacios seleccionados con el fin de poder analizarlos.</p>
      </div>
    </div>
  </section>

  <!--Se agrega la sección de contacto-->

  <section class="cta">
    <h1>Adquiere los servicios <br>Consultar espacios</h1>
    <a href= "/contact" class="hero-btn">Contact Us</a>
  </section>

  <!--Se agrega el footer-->
  <section class="footer">
    <h4>About Us</h4>
    <p>Empresa con capacidad de modificar la percepción y acceso a los espacios </p>
    <p>Correo: @uninorte.edu.co</p>
    <p>Made by Deus X Solution</p>
  </section>
  
  <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>

<!--https://www.youtube.com/watch?v=oYRda7UtuhA-->
{% endblock %}