* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
  }

  h1{
    padding-top: 50px;
    text-align: center;

  }

  .divvv{
    margin-right: 120px;
  }

  .cerrars{
    float: right;
    padding: 10px 20px;
    background-color: #2b6185;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }

  .reporte{
    float: right;
    padding: 10px 20px;
    background-color: #2b6185;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
  }

  body {
    background-color: #f5f8ff;
  }
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  #search-container {
    margin: 1em 0;
  }
  #search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #2b6185;
    padding: 1em 0.3em;
  }
  #search-container input:focus {
    border-bottom-color: #2b6185;
  }
  #search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #2b6185;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
  }

  #products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
  }
  .card {
    background-color: #ffffff;
    margin-left: 50px;
    margin-bottom: 50px;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(2, 5, 130, 0.08);
  }
  .image-container {
    text-align: center;
  }
  img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
  }
  .container {
    padding-top: 1em;
    color: #110f29;
  }
  .container h5 {
    font-weight: 500;
  }
  .hide {
    display: none;
  }
  @media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
    .card {
      max-width: 10em;
      margin-top: 1em;
    }
    #products {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    }
  }