<!DOCTYPE html>
<html>
<head>  
<link rel="stylesheet" href= "{{ url_for('static', filename='css/reporte.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet"  />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="file-tray-stacked-outline"></ion-icon></span>
                        <span class="title">Proyect 0</span>
                    </a>
                </li>
                <li>
                    <a href="/modulo">
                        <span class="icon"><ion-icon name="podium-outline"></ion-icon></span>
                        <span class="title">Estadísticas globales</span>
                    </a>
                </li>
                <li>
                    <a href="/modulo/casa_estudio">
                        <span class="icon"><ion-icon name="man-outline"></ion-icon></ion-icon></span>
                        <span class="title">Casa de Estudio</span>
                    </a>
                </li>
                <li>
                    <a href="/modulo/biblioteca">
                        <span class="icon"><ion-icon name="library-outline"></ion-icon></span>
                        <span class="title">Biblioteca</span>
                    </a>
                </li>
                <li>
                    <a href="/modulo/5k">
                        <span class="icon"><ion-icon name="radio-outline"></ion-icon></span>
                        <span class="title">Laboratorio 5K</span>
                    </a>
                </li>
                <li>
                    <a href="/modulo/6k">
                        <span class="icon"><ion-icon name="desktop-outline"></ion-icon></span>
                        <span class="title">Laboratorio 6K</span>
                    </a>
                </li>
                <li>
                    <a href="/modulo/sdu2">
                        <span class="icon"><ion-icon name="wifi-outline"></ion-icon></span>
                        <span class="title">Bloque B SDU2</span>
                    </a>
                </li>
                <li>
                    <a href="/modulo/sdu3">
                        <span class="icon"><ion-icon name="tv-outline"></ion-icon></span>
                        <span class="title">Bloque B SDU3</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="invert-mode-outline"></ion-icon></span>
                        <span class="title cambio-modo">Cambiar modo</span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Log out</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
            </div>
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">6</div>
                        <div class="cardName">Numero de Espacios</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="home-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">12500</div>
                        <div class="cardName">Estudiantes Matriculados</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="people-circle-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">6 Días</div>
                        <div class="cardName">Registro Semanal</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="calendar-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">700</div>
                        <div class="cardName">Promedio de Estudiantes<br> en Salas</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="walk-outline"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="det">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Estadísticas de uso</h2>

                        <!--! TO DO Poner el envío del reporte-->
                        <form action="/modulo" method="post">
                            <button class="btn" type="submit">Enviar reporte</button>
                        </form>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Lugar</td>
                                <td>Capacidad</td>
                                <td>Promedio</td>
                                <td>Estado</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Casa de Estudio</td>
                                <td>350</td>
                                <td>302</td>
                                <td><span class="status delivered">Disponible</span></td>
                            </tr>
                            <tr>
                                <td>Biblioteca</td>
                                <td>400</td>
                                <td>285</td>
                                <td><span class="status delivered">Disponible</span></td>
                            </tr>
                            <tr>
                                <td>Laboratorio 5K</td>
                                <td>150</td>
                                <td>98</td>
                                <td><span class="status delivered">Disponible</span></td>
                            </tr>
                            <tr>
                                <td>Laboratorio 6K</td>
                                <td>30</td>
                                <td>18</td>
                                <td><span class="status delivered">Disponible</span></td>
                            </tr>
                            <tr>
                                <td>Bloque B SDU2</td>
                                <td>40</td>
                                <td>24</td>
                                <td><span class="status delivered">Disponible</span></td>
                            </tr>
                            <tr>
                                <td>Bloque B SDU3</td>
                                <td>40</td>
                                <td>18</td>
                                <td><span class="status delivered">Disponible</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="graph">
                    <div class="bars">
                        <canvas id="chart1"></canvas>
                    </div>
                    <div class="circular">
                        <canvas id="chart2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

<!-- Script -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="{{ url_for('static', filename='js/modulo/report.js') }}"></script>
</body>
</html>


